# ===== Visual Studio =====
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ===== Build results =====
Debug/
Release/
x64/
x86/
bin/
obj/

# ===== CMake (если вдруг использовался) =====
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# ===== Compiled files =====
*.exe
*.dll
*.obj
*.pdb
*.ilk
*.idb
*.log

# ===== Temporary files =====
*.tmp
*.temp
*.bak
*.cache

# ===== OS files =====
Thumbs.db
.DS_Store

# ===== Visual Studio database =====
*.VC.db
*.VC.VC.opendb
